/* Seccion Proyectos */
.portafolio{
    background: #ecece9;
    .contenedor {
        padding: 60px 0;
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        .titulo{
            color: hsl(213, 71%, 20%);
            text-align: center;
            margin-bottom: 60px;
        }
        .galeria-port{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .imagen-port{
                width: 44%;
                margin-bottom: 10px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
                .hover-galeria{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    transform: scale(0);
                    background: hsla(213,71%,20%, 0.6);
                    transition: transform .5s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                
                .hover-galeria img{
                    width: 50px;
                }
                
                .hover-galeria p{
                    color: #fff;
                }
                
                &:hover .hover-galeria{
                    transform: scale(1);
                }
                &:hover .hover-galeria{
                    transform: scale(1);
                }
            }
            .imagen-port > img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
            
              
        }

    }
}