@import "general";
@import "home";
@import "proyectos";
@import "habilidades";

/* tablet */
@media only screen and (max-width: 1024px){
    .home{
        display: block;
    }
    .srv{
        gap: 1rem;
    }
}

/* MediasQuery */
@media only screen and (max-width: 768px){
    nav{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
    }
    .cajaHabilidades{
        grid-column: 1/5;
    }
    .portafolio .contenedor .galeria-port .imagen-port{
        width: 100%;
    }
    .ancho{
        width: 100%;
    }
}
